.CardTable {
  padding: 10px;
  height: 500px;
  width: 700px;
  background-color: green;
}

.Card {
  height: 150px;
  width: 150px;
  background-color: white;
  margin: 10px;
  border: 1px solid grey;
  border-radius: 5%;
  float: left;
}

.shapeContainer {
  margin-top: 25px;
  margin-left: 25px;
  width: 100px;
  height: 100px;
}

.diamond {
  margin: auto;
  margin-top: 5px;
  height: 25px;
  width: 25px;
  transform: rotate(45deg);
}

.bar {
  margin: auto;
  width: 100px;
  height: 40px;
  border-radius: 25px;
}

.circle {
  margin: auto;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.solidRed {
  background-color: red;
}

.solidGreen {
  background-color: green;
}

.solidPurple {
  background-color: purple;
}

.shadedRed {
  background:
    repeating-linear-gradient(
      -45deg,
      red,
      red 2px,
      white 2px,
      white 4px
    );
}

.shadedGreen {
  background:
    repeating-linear-gradient(
      -45deg,
      green,
      green 2px,
      white 2px,
      white 4px
    );
}

.shadedPurple{
  background:
    repeating-linear-gradient(
      -45deg,
      purple,
      purple 2px,
      white 2px,
      white 4px
    );
}

.clearRed {
  box-sizing: border-box;
  border: red solid 2px;
}

.clearGreen {
  box-sizing: border-box;
  border: green solid 2px;
}

.clearPurple {
  box-sizing: border-box;
  border: purple solid 2px;
}

